<!DOCTYPE html>
<html>
<head>
<title>IRIS classification</title>
</head>


<body>

<div class ='login'>
    <h1>Welcome to Iris classification app</h1>

    <form action="{{url_for('predict')}}" method="post">

        <input type="text" name="sepal_length" placeholder="Sepal Length" required="required">
        <input type="text" name="sepal_width" placeholder="Sepal Width" required="required">

        <input type="text" name="petal_length" placeholder="Petal Length" required="required">
        <input type="text" name="petal_width" placeholder="Petal Width" required="required">

        <button type="submit" class ="btn btn-primary btn-block btn-large">Submit</button>

    </form>

<br>
<br>

{{output}}

</div>


</body>
</html>